.paper-defaults {
    fill: none;
    stroke: #000000;
}

/*COLORS*/
.c0 {
    stroke: black;
}

.c255 {
    stroke: white;
}


.c1 {
    stroke: #FE2712;
    /*color: #ff0000 !important;*/
}

.c2 {
    stroke: #FC600A	;
    /*color: #00ff00 !important;*/
}

.c3 {
    stroke: #FB9902	;
    /*color: #0000ff !important;*/
}

.c4 {
    stroke: #FCCC1A	;
    /*color: #ffff00 !important;*/
}

.c5 {
    stroke: #FEFE33	;
    /*color: #ff00ff !important;*/
}

.c6 {
    stroke: #B2D732;
    /*color: #00FFFF !important;*/
}


.c7 {
    stroke: #66B032;
    /*color: #FF7F00 !important;*/
}

.c8 {
    stroke: #347C98	;
    /*color: #FF007F !important;*/
}

.c9 {
    stroke: #0247FE;
    /*color: #7FFF00 !important;*/
}

.c10 {
    stroke: #4424D6;
    /*color: #7F00FF !important;*/
}

.c11 {
    stroke: #8601AF;
    /*color: #00FF7F !important;*/
}

.c12 {
    stroke: #C21460;
    /*color: #007FFF !important;*/
}


.w1 {
    stroke-width: 1px;
}

.w2 {
    stroke-width: 2px;
}

.w3 {
    stroke-width: 3px;
}

.w4 {
    stroke-width: 4px;
}

.w8 {
    stroke-width: 8px;
}

.w12 {
    stroke-width: 8px;
}


.w16 {
    stroke-width: 16px;
}

.w20 {
    stroke-width: 20px;
}

.w24 {
    stroke-width: 24px;
}

.w32 {
    stroke-width: 32px;
}
